# python
.cache
.eggs/
.Python
build/
eggs/
dist/
sdist/
wheels/
*.egg-info/
*.egg
*.pyc
**/__pycache__
MANIFEST

# python testing
.coverage
.coverage.*
.hypothesis/
.nox/
.pytest_cache/
.tox/
coverage.xml
htmlcov/
cover/

# node
node_modules/

# these maintained in github-workflows
bun.lock
package.json
