---
{% for item in k3s.config if k3s.node.type == 'server' or item.key in agent_config_fields %}
{{ item.key }}: {{ item.value }}
{% endfor %}

{% if k3s.node.type == 'server' -%}
write-kubeconfig: {{ k3s.kubeconfig_location | mandatory }}
write-kubeconfig-mode: '600'
{% endif %}

{% if k3s.node.type == 'server' and k3s.disabled_components|length > 0 -%}
disable: {{ k3s.disabled_components }}
{% endif %}

{% if k3s.node.labels|length > 0 -%}
node-label: {{ k3s.node.labels }}
{% endif %}
{% if k3s.node.taints|length > 0 -%}
node-taint: {{ k3s.node.taints }}
{% endif %}
