---
# yamllint disable rule:line-length
name: renovate

# yamllint disable-line rule:truthy
on:
  schedule:
  - cron: '0 4 * * *'
  pull_request:
    paths:
    - '.github/workflows/renovate.yaml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  renovate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    environment: renovate

    steps:
    - name: Generate github app token for renovate
      uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1
      id: app-token
      with:
        app-id: ${{ secrets.RENOVATE_APP_ID }}
        private-key: ${{ secrets.RENOVATE_APP_PRIVATE_KEY }}
        owner: ${{ github.repository_owner }}

    - name: Checkout repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      with:
        persist-credentials: false
        token: "${{ steps.app-token.outputs.token }}"

    - name: Self-hosted Renovate
      uses: renovatebot/github-action@e854b273e774bce1ef8cb05f128b8ce8aee2a887 # v42.0.1
      with:
        token: ${{ steps.app-token.outputs.token }}
        # renovate: datasource=github-releases depName=renovatebot/renovate
        renovate-version: "40.11.2"
      env:
        LOG_LEVEL: 'debug'
        RENOVATE_DRY_RUN: "${{ github.event_name	== 'pull_request' && 'extract' || '' }}"
        RENOVATE_GIT_IGNORED_AUTHORS: "182250461+homelab-workflows-bot[bot]@users.noreply.github.com"
        # yamllint disable-line rule:indentation
        RENOVATE_HOST_RULES: >-
          [
            {
              "hostType": "docker",
              "username": "${{ secrets.DOCKERHUB_USERNAME }}",
              "password": "${{ secrets.DOCKERHUB_TOKEN }}"
            },
            {
              "hostType": "docker",
              "matchHost": "ghcr.io",
              "username": "${{ github.repository_owner }}",
              "password": "${{ steps.app-token.outputs.token }}"
            }
          ]
        RENOVATE_PLATFORM: 'github'
        RENOVATE_PLATFORM_COMMIT: 'true'
        RENOVATE_REPOSITORIES: "${{ github.repository }}"
        RENOVATE_REQUIRE_CONFIG: 'required'
        GIT_AUTHOR_NAME: ""
        GIT_AUTHOR_EMAIL: ""
        GIT_COMMITTER_NAME: ""
        GIT_COMMITTER_EMAIL: ""
