---
name: "test collection: os"

# yamllint disable-line rule:truthy
on:
  pull_request:
    paths:
    - '.github/workflows/test-os.yaml'
    - 'os/**.yaml'
    - 'os/**.yml'
    - 'pyproject.toml'
  workflow_dispatch:
    inputs:
      log_verbosity:
        description: 'Log Verbosity'
        required: true
        default: 2
        type: choice
        options:
        - '0'
        - '1'
        - '2'
        - '3'
        - '4'
  schedule:
  - cron: '0 10 */30 * *'

env:
  # As this action takes nearly an hour to run, we're running it in highest verbosity to avoid needing to re-run
  # just to get additional information.
  non_workflow_dispatch_log_verbosity: 3
  MOLECULE_VARS_FILE: /tmp/molecule_vars.yaml
  # renovate: datasource=github-releases depName=astral-sh/uv
  UV_VERSION: "0.9.13"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        ubuntu_code_name: ["noble"]
        arch_plus_device: ["arm64+raspi", "amd64"]
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    steps:
    - name: Install system packages
      run: |
        sudo apt-get update
        sudo apt-get install -yq --no-install-recommends binfmt-support qemu-user-static parted

    - name: Setup repository and tools
      uses: ppat/homelab-ops-actions/actions/setup-repository-tools@35903fc15a8d39b5c6d5eb51350324a227a5a814 # v1.0.1
      with:
        current_git_ref: ${{ github.head_ref || github.ref }}
        current_repository: ${{ github.repository }}
        extra_cache_path: ~/.cache/uv/
        extra_cache_key: uv
        # renovate: datasource=github-releases depName=jdx/mise
        mise_version: "v2025.10.11"
        token: ${{ secrets.GITHUB_TOKEN }}
        mise_toml: |
          [tools]
          uv          = "${{ env.UV_VERSION }}"
          [settings.pipx]
          uvx         = true

    - name: Install python requirements
      working-directory: ./current
      run: |
        uv --version
        uv sync --frozen
        uv run python --version
        uv run ansible --version
        uv run molecule --version

    - name: Install ansible collections
      working-directory: ./current
      run: |
        uv run ansible-galaxy collection install ./os/

        # install collection dependencies w/ --force to ensure that replaced from local repository
        uv run ansible-galaxy collection install --force ./packages/

    - name: Determine molecule verbosity
      # yamllint disable-line rule:indentation
      run: |
        set -eo pipefail

        MOLECULE_PARAMS="--no-debug"
        if [[ $LOG_VERBOSITY -gt 2 ]]; then
          MOLECULE_PARAMS="--debug"
        fi
        if [[ $LOG_VERBOSITY -gt 0 ]]; then
          VERBOSE_FLAG=$(printf "v"'%.s' $(eval "echo {1.."$(($LOG_VERBOSITY))"}"))
          MOLECULE_PARAMS="$MOLECULE_PARAMS -$VERBOSE_FLAG"
        fi
        echo "Setting molecule params to [$MOLECULE_PARAMS]..."
        echo "MOLECULE_PARAMS=$MOLECULE_PARAMS" >> $GITHUB_ENV
      shell: bash
      env:
        LOG_VERBOSITY: ${{ github.event.inputs.log_verbosity || env.non_workflow_dispatch_log_verbosity }}

    - name: Create molecule vars file
      # yamllint disable-line rule:indentation
      run: |
        if [[ "$ARCH_PLUS_DEVICE" == "arm64+raspi" ]]; then
          DEVICE_TYPE="raspi"
          BOOT_FIRMWARE_SOURCE="/mnt/boot-firmware"
        else
          DEVICE_TYPE="any"
          BOOT_FIRMWARE_SOURCE="-"
        fi

        cat > $MOLECULE_VARS_FILE << EOF
        boot_firmware_source: "$BOOT_FIRMWARE_SOURCE"
        device_type: $DEVICE_TYPE
        image_url: $SERVER_URL/$SERVER_PATH/$SERVER_FILENAME
        image_file: $IMAGE_FILE
        system_root_mount: $SYSTEM_ROOT
        EOF

        cat $MOLECULE_VARS_FILE
      shell: bash
      env:
        SERVER_URL: https://cdimage.ubuntu.com
        SERVER_PATH: "ubuntu-server/${{ matrix.ubuntu_code_name }}/daily-preinstalled/current"
        SERVER_FILENAME: "${{ matrix.ubuntu_code_name }}-preinstalled-server-${{ matrix.arch_plus_device }}.img.xz"
        IMAGE_FILE: "${{ matrix.ubuntu_code_name }}.img"
        ARCH_PLUS_DEVICE: "${{ matrix.arch_plus_device }}"
        SYSTEM_ROOT: /mnt/sysroot

    - name: Molecule Test
      run: |
        # use of chroot connection within molecule requires running with sudo
        # but since python virtualenv is under current user, re-use that user's virtualenv from within sudo
        UV="$(which uv)"
        UV_PYTHON="$(uv run python -c "import sys; print(sys.executable)")"
        set -x
        sudo --preserve-env=HOME,PATH $UV run molecule $MOLECULE_PARAMS --env-file $MOLECULE_VARS_FILE test --all --no-parallel
      shell: bash
      working-directory: ./current/os
      env:
        ANSIBLE_FORCE_COLOR: 1
        ANSIBLE_COLLECTIONS_PATH: "/home/runner/.ansible/collections"
        PY_COLORS: 1
        PYTHONUNBUFFERED: 1
        TERM: xterm-256color
