# This file contains configuration that will be used during initialization of a new k3s node.

K3S_SERVER_TOKEN="{{ lookup('ansible.builtin.password', '/dev/null', chars=['ascii_lowercase', 'digits'], length=16) }}"
K3S_AGENT_TOKEN="{{ lookup('ansible.builtin.password', '/dev/null', chars=['ascii_lowercase', 'digits'], length=16) }}"
DOMAIN_NAME=example.net
